@charset "utf-8";
/* CSS Document */

body {background-color: indianred}

#LeftContent{width:800px}

#Kotak1{width:250px;background-color:white;margin:10px 0px 10px 0px;} 
#Kotak2{width:250px;background-color:white;margin:10px 0px 10px 0px;}
#Kotak3{width:250px;background-color:white;margin:10px 0px 10px 0px;}

#Modern Rooms{width:250px;background-color:white;margin:10px 0px 10px 0px;}
#Traditional Rooms{width:250px;background-color:white;margin:10px 0px 10px 0px;}
#Contemporary Rooms{width:250px;background-color:white;margin:10px 0px 10px 0px;}

#Copyright {clear:both;
  border-top:black solid 2px;
  text-align:center;}
#Kotak {width:1000px;background-color:white; margin:0px auto 0px auto}
#Kotak {width:950px;background-color:white; margin:0px auto 0px auto}
 


